@media screen and (max-width:1000px){
    body{
        background-color: rgb(159, 170, 233);
    }
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content: center;
        height: 25px;
    }
    .search{
        margin: 5px 0;
        justify-content: center;
    }
    .search input{
        width: 260px;
        margin:10px 10px;
    }
    .slider img{
        max-width: 100%;
        height:300px;
    }
    .card-iteams img{
        max-width: 100%;
        height: 160px;

    } 
    
}